<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="url" value="http://hivedome-fs01:4720/Contract/qa/FuturesAndOptions/Trade/" />
    <add key="authorizationToken" value="bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6IjJjNWU2M2IwNTdkNTRiMzdiNGNjMWMzZmJlZWU0YTljIiwic3ViIjoiMmM1ZTYzYjA1N2Q1NGIzN2I0Y2MxYzNmYmVlZTRhOWMiLCJyb2xlIjpbIjYxYTJhYzRjLTQ2YTQtNGI0My1hNjRjLWM0ZTRhMWQ3NjQwOCIsIjJjNWU2M2IwNTdkNTRiMzdiNGNjMWMzZmJlZWU0YTljIiwiQVNQLk5FVCBJZGVudGl0eSIsIjE2Nzg3ZTMxLWJkOTItNGJkOC1iOTQ4LTVmNmEyMzllNjZlOSIsIkVDVFAiLCJLVlBTIiwiVkFMVUFUSU9OQ0FDSEUiLCJFSU5WT0lDSU5HUEFSVE5FUiIsIkFQSSJdLCJpc3MiOiJodHRwOi8vaGRtY2xvdWQtYXBwMDE6ODAyOCIsImF1ZCI6ImFmMDNjNWY4OTE2ZTRkOGQ4YWJlZjFkMDFlNzAwN2I5IiwiZXhwIjoyMDg0ODMxOTQwLCJuYmYiOjE0ODUyNjEzODR9.3AVinmptvT0gfG3m__bwBzBn4e7HuJXHJOmDw6Mk3TM" />    
    <add key="JasonFileName" value="JasonBodyText.Json" />      
    <add key="CycleEndPointCall" value="N" />
    <add key="Verb" value="GET" /> <!-- Use either GET, PUT, POST or DELETE, default if incorrect no verb specified is GET-->
  
   </appSettings>
    <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %logger{1} %username - %message%newline" />
      </layout>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
    <mapping>
        <level value="INFO" />
        <foreColor value="Green, HighIntensity" />
      </mapping>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="./logs/log.log" />
      <rollingStyle value="Date" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %logger{1} - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
